{{!< default}}
<header>
<div class="logo"><a href="/">{{@blog.title}}</a></div>
<div class="top">	
  
  <div class="menu">
  	<ul>
    	{{navigation}}
    </ul>
  </div> 
  <div class="search_bar">
        <button class="btn" type="button"><span class="ion-ios-search"></span></button>
      <input type="text" class="search" placeholder="Search for...">
  </div> 
</div>
</header>
<div class="clear"></div>
<div class="index-top col-80">
<h3>TAGGED IN</h3>
<h2>{{tag.name}}</h2>
<div class="page-description">
{{#if tag.description}}
	{{tag.description}}
{{else}}
	共 {{pagination.total}} 篇文章
{{/if}}
</div>
</div>
<div class="section-title col-80"><span>lastst</span></div>
<div class="main">
<div class="col-100">
{{#foreach posts}}
<div class="post-index">
  <div class="auther">
  	<img src="{{author.image}}" class="avatar">
    <div class="meta">
      <div class="name"><a href="{{author.bio}}">{{author}}</a></div>
      <div class="time">{{date format='YYYY-MM-DD'}}</div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="post-image {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"></div>
  
  <h1 class="title"><a href="{{url}}">{{{title}}}</a></h1>
  <div class="centent">
  {{excerpt characters="150"}}
  </div>
  <div class="more"><a href="{{url}}">Read more</a></div>
</div>
{{/foreach}}
{{pagination}}
</div>

</div>

